html {box-sizing:border-box;}
*, *:before, *:after{box-sizing:inherit;}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input [type="checkbox"]:checked + label {
	text-decoration: line-through;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-size:20px;
	color: rgb(230,230,230);
	font-weight:lighter;
	font-style: italic;
	font-family: 'Helvetica Neue';
}

input[type="checkbox"]{
	border-radius:100%;
}